#thinkpa{
  display: flex;
  justify-content: space-between;
}
#timeseries{
  margin-top: 10px;
}
/* .tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: block;
  height: 0;
  overflow-y: hidden;
}

.tab-content > .active,
.pill-content > .active {
  height: auto;
} */

#headerCustomButtons {
    margin-right: 15px;
    margin-left: 15px;
    width: 800px
}

#app-content-wrapper #app-content {
  height: 100%;
  /*padding-top: 60px;*/
  /*padding-bottom: 50px;*/
}

#inner-app-content {
  padding: 0;
}

#app-actions {
  display: none;
}

#mapid {
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    border: 35%;
    border-style: solid;
    border-color: black;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #cae0da;
}
.button1 {
    background-color: white;
    border-color: black;
    padding: 8px 19px;
    border: 1px solid #cccccc;
    font-size: 14px;
    transition-duration: 0.3s;
}

.button1:hover {
  background-color: #cccccc;
  color: black;
}

#graph {
    height: 100%;
}

#obsgraph {
    height: 100%;
}

#obsgraph .modal-body {
  height: 100%;
  border-radius: 0;
}

.form-group {
    margin-bottom: 0;
}

.chart {
    min-width: 320px;
    max-width: 800px;
    height: 220px;
    margin: 0 auto;
}

.flex-container-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#overview {
    font-size: 15pt;
    padding: 0 20px 0 20px;
}

#about .modal-dialog {
  width: 75%;
  height: 75%;
  padding: 0;
}

#about .modal-body {
  height: 100%;
  border-radius: 0;
}

#graph .modal-dialog {
  width: 75%;
  height: 75%;
  padding: 0;
}

#obsgraph .modal-dialog {
  width: 75%;
  height: 75%;
  padding: 0;
}

.hidden {
  display: none;
}

.obslogos {
    width: 40%;
    padding: 0 5px 0 5px;
}

#Download_siteinfo{
  display: flex;
  flex-direction: row;
}
