{% extends "reservoirs/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>

 <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="View Graph">
    <a data-toggle="modal" data-target="#obsgraph"><span class="glyphicon glyphicon-globe"></span></a>
  </div>

  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>

{% endblock %}

{% block app_navigation_items %}
  <br>
  {% gizmo select_input variables %}
  <br>
  <button type ="button" class="btn btn-success " name="button" id="timeseries"><strong>Load Time Series</strong></button>
{% endblock %}

{% block app_content %}
  <div id="mapid" class="mapid"></div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}


<head>
  <script src='https://cdn.plot.ly/plotly-2.3.0.min.js'></script>
</head>
<!--<body>-->
<!--  <div id="myDiv"></div>-->
<!--</body>-->
  <!----Observed Data ----->
  <div class="modal fade" id="obsgraph" tabindex="-1" role="dialog" aria-labelledby="about-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="row">
            <div id="station-info" class="col-md-8"></div>
            <div class="col-md-4">
              <div align="right">
              </div>
            </div>
            <div id="interaction"></div>
          </div>
        </div>
        <div class="modal-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a id="siteinfo_tab_link" href="#siteinfo" aria-controls="siteinfo" role="tab" data-toggle="tab">Site Information</a></li>
            <li role="presentation"><a id="mytimeseries_tab_link" href="#mytimeseries" aria-controls="mytimeseries" role="tab" data-toggle="tab">Historical Water Level</a></li>
            <li role="presentation"><a id="volumechart_tab_link" href="#volumechart" aria-controls="volumechart" role="tab" data-toggle="tab">Forecast Volume</a></li>
            <li role="presentation"><a id="forecast_tab_link" href="#forecastchart" aria-controls="forecastchart" role="tab" data-toggle="tab">Forecast Elevation</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content" id = "tabs-id">
            <div role="tabpanel" class="tab-pane active" id="siteinfo">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div id="site_info_con" class="row">
                    <!-- Carousel container -->
                    <div id="info-charts" class="carousel" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                    <li data-target="#info-charts" data-slide-to="0" class="active"></li>
                    <li data-target="#info-charts" data-slide-to="1"></li>
                    </ol>

                    <!-- Content -->
                    <div class="carousel-inner" role="listbox">

                    <!-- Slide 1 -->
                    <div class="item active">
                      <div id="site_sc_chart"></div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="item">
                      <div id="site_hist_chart"></div>
                    </div>


                    <!-- Previous/Next controls -->
                    <a class="left carousel-control" href="#info-charts" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#info-charts" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>

                    </div>
                    <div id="site_info_ta"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="mytimeseries">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="flex-container-row"><img id="mytimeseries-loading" class="view-file hidden" src="{% static 'reservoirs/images/loader.gif' %}" /></div>
                  <div id="myDiv"></div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="volumechart">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="flex-container-row"><img id="fv-loading" class="view-file hidden" src="{% static 'reservoirs/images/loader.gif' %}" /></div>
                  <div id="volume_chart"></div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="forecastchart">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="flex-container-row"><img id="fe-loading" class="view-file hidden" src="{% static 'reservoirs/images/loader.gif' %}" /></div>

                  <div id="forecast_chart"></div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="info" class="hidden"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- About Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Reservoirs DR</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block app_actions %}
{% endblock %}
